/* ================================= 
  Base Element Styles
==================================== */

* { 
    box-sizing: border-box;
  }
  
body{
      font-family: 'Roboto', Helvetica, sans-serif;
      text-decoration: none;
      text-align: center;
      background-color: rgb(224, 246, 253);
    }

h1,
h2{
  text-align: center;
  font-weight: bold;
}


h3{
  text-align: center;
}

p{
  text-align: center;
  padding-bottom: 5px;
}

.portfolio-1,
.portfolio-2,
.portfolio-3,
.portfolio-4,
.portfolio-5,
.portfolio-6 {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin: auto;
    max-width: 100%;
    margin-bottom: 20px;
  }

li{
  text-decoration: none;
}

.student-name{
  text-transform: none;
  text-align: center;
  font-size: 1.4em;
}

.about{
  text-align: center;
  font-size: 10px;
  float: right;
  padding-bottom: 25px;
  font-size: 1em;
}

.main-nav{
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    padding-top: 25px;
    text-decoration: none;
}

.main-nav a{
  padding: 10px 15px;
  text-align: center;
  display: inline;
  font-size: 1.4em;
  color: black;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.main-nav li{
  background:rgb(165, 167, 168);
  margin-top: 6px;
  margin-bottom: 6px;
  width: 150px;
  text-align: center;
}



.container {
  width: 75%;
  margin: 0 auto;
}

a:link,
a:visited,
a:active,
a:hover{
text-decoration: none;
color: black;
}

.profile{
  width: 100%;
  display: block;
  padding: 20px;
}

.name{
	font-size: 1.25em;
  font-weight: bold;
  float: left;
}

.top{
  font-weight: bold;
}


.main-nav a {
		display: block;
		text-align: center;
    padding: 10px 15px;
    text-decoration: none;
  }
  
.nav,
.main-header,
.footer-nav{ 
  background: #f5f5f5;
  list-style-type: none;
  text-decoration: none;
}

.footer-nav{
  padding: 20px 20px;
  margin: 20px 20px;
  display: inline-block;
  text-decoration: none;
  }

 .footer-nav li{
   text-decoration: none;
   list-style-type: none;
   font-size: .9em;
   text-align: center;
 } 
  
/* Section Styles */

/* ================================= 
  Media Queries
==================================== */
/*

@media screen and (min-width: 768px) {

.container{
  width: 100%;
  margin: 0 auto;
}

.name{
  float: center;
}

.main-header{
  text-align: center;
}

.main-nav{
  display: inline;
}
.main-nav li{
  text-align: center;
  display: inline;
}

.main-nav a{
  background-color: transparent;
  padding: 10px 15px;
}

.profile{
  max-width: 100%;
}

}
.about{
  font-size: 1.2em;
  padding-top: 25px;
  margin: auto 0;
}
.profile{
  float: right;
  padding: 15px;
}

.nav a{
  display: inline block;
}

.project{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align:center;
}

.box{
  max-width: 45%
  margin: 0 auto;
}

}

@media screen and (min-width: 1024px) {
.container{
  margin: 0 auto;
  width: 100%;
}

.primary {
  width: 40%;
}

.secondary {
  width: 30%;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

}
*/